ion-content {
  font-family: 'DM Sans', sans-serif;
}

button {
  background: none;
  margin-top: 5px;
  margin-right: 15px;
  ion-icon {
    font-size: 25px;
    color: #0f3e89;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  margin-top: 10px;
}

.header h4 {
  font-weight: bold;
  color: #123359;
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.header ion-icon {
    font-size: 30px;
    color: #0f3e89;
    margin-top: 10px;
    margin-left: 10px;
}


ion-label {
  margin-left: 10px;
}

p {
  color: #616e7e;
  font-size: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

.btn {
  margin-left: 30px;
  background: linear-gradient(to top right, #0f3e89, #12355c);
  border-radius: 10px;
  p {
    color: white;
  }
}

.custom-tab-bar {
  font-family: 'DM Sans', sans-serif;
  background-color: #fdfdfd;
  box-shadow: 0 0 16px -6px rgba(0,0,0,0.27);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 10px 5px;
  margin-top: 125px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.ios .custom-tab-bar {
  margin-top: 95px;
}

.tab-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-top: 15px;
  p {
    margin-top: 3px;
  }
  ion-icon {
    font-size: 18px;
    margin-left: 10px;
    color: #123359;
  }
  button {
    background: none;
    margin: 0;
    color: #123359;
  }
}
