.register-container {
  margin-top: 20px;
  display: grid;
  grid-column: auto;
  gap: 10px;

  ion-checkbox {
      font-size: 13px;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button {
    display: block;
    text-align: center;
  }
}

ion-content {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

img {
  margin-top: -10px;
  display: inline-block;
  max-width: 240px;
  margin-bottom: 10px;
  text-align: center;
}

.register-content {
  margin-top: -70px;
  h1 {
    text-align: center;
    font-weight: bold;
    color: #12355c;
  }
}

.inputs {
  margin-top: -20px;
  .bg-input {
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.21);
    ion-input-password-toggle {
      color: #0f3e89;
    }
    ion-input {
      --highlight-color: black;
      --background: transparent;
      --border-color: transparent;
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 5px;
      font-size: 15px;
    }
  }
}

.main-btn {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  background: linear-gradient(to top right, #0f3e89, #12355c);
  color: white;
  flex-direction: column;
  align-items: center;
}

.secondary-btn {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  border: 2px solid #0f3e89;
  background-color: white;
  color: #0f3e89;
  flex-direction: column;
  align-items: center;
}
