<ion-content>
  <div class="header">
    <button class="back-button" (click)="back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>
    <h4>Historial</h4>
  </div>
  <ion-card class="historial-item">
    <div class="historial-info">
      <h5>Viaje familiar</h5>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="info-content">
      <p class="date">9/11/2024</p>
      <p class="balance">20.000$</p>
    </div>
  </ion-card>
  <ion-card class="historial-item">
    <div class="historial-info">
      <h5>Junta fin de año</h5>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="info-content">
      <p class="date">5/11/2024</p>
      <p class="balance">5.000$</p>
    </div>
  </ion-card>
  <ion-card class="historial-item">
    <div class="historial-info">
      <h5>Gastos comunes</h5>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="info-content">
      <p class="date">1/11/2024</p>
      <p class="balance">7.000$</p>
    </div>
  </ion-card>
  <ion-card class="historial-item">
    <div class="historial-info">
      <h5>Gastos comunes</h5>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="info-content">
      <p class="date">1/11/2024</p>
      <p class="balance">4.000$</p>
    </div>
  </ion-card>
  <ion-card class="historial-item">
    <div class="historial-info">
      <h5>Junta de fin de año</h5>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="info-content">
      <p class="date">1/11/2024</p>
      <p class="balance">3.000$</p>
    </div>
  </ion-card>
</ion-content>
