ion-content {
  font-family: 'DM Sans', sans-serif;
}

button {
  background: none;
  margin-top: 5px;
  margin-right: 15px;
  ion-icon {
    font-size: 25px;
    color: #0f3e89;
  }
}

ion-list {
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  margin-top: 10px;
}

.header h4 {
  font-weight: bold;
  color: #123359;
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.header button {
  z-index: 2;
}

.header ion-icon {
  font-size: 30px;
  color: #0f3e89;
}


ion-label {
  margin-left: 10px;
}

p {
  color: #616e7e;
  font-size: 15px;
  text-align: center;
}

.btn {
  display: block;
  margin: 20px auto;
  text-align: center;
  width: fit-content;
  background: linear-gradient(to top right, #0f3e89, #12355c);
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 18px;
  .btn-content {
    color: white;
    margin-top: 13px;
  }
}
